<div class="col-12 flex gap-3 align-items-center my-3" *ngIf="title">
    <h5 class="m-0">{{title}}</h5>
    <p-checkbox [(ngModel)]="sameAsBillingAddress"
                (onChange)="onSameAsBillingAddressChange($event.checked)"
                [binary]="true"
                inputId="binary"
                [label]="l('SameAsBillingAddress')"
                *ngIf="isShippingAddress" />
</div>
<ng-container *ngIf="!isShippingAddress || !sameAsBillingAddress">

    <div class="field col-12 md:col-6 xl:col-4"
         findCountry
         name="selectCountry"
         [label]="l('Country')"
         [(ngModel)]="model.country"
         (ngModelChange)="onCountryChange($event)"
         [required]="true">
    </div>
    <div class="field col-12 md:col-6 xl:col-4"
         findCityProvince
         name="selectCityProvince"
         [label]="l('CityProvince')"
         [countries]="model.country"
         [(ngModel)]="model.cityProvince"
         (ngModelChange)="onCityProvinceChange($event)"
         [required]="addressLevel >= 1">
    </div>
    <div class="field col-12 md:col-6 xl:col-4"
         findKhanDistrict
         name="selectKhanDistrict"
         [label]="l('KhanDistrict')"
         [countries]="model.country"
         [cityProvinces]="model.cityProvince"
         [(ngModel)]="model.khanDistrict"
         (ngModelChange)="onKhanDistrictChange($event)"
         [required]="addressLevel >= 2"
         *ngIf="khanDistrictEnable">
    </div>
    <div class="field col-12 md:col-6 xl:col-4"
         findSangkatCommune
         name="selectSangkatCommune"
         [label]="l('SangkatCommune')"
         [countries]="model.country"
         [cityProvinces]="model.cityProvince"
         [khanDistricts]="model.khanDistrict"
         [(ngModel)]="model.sangkatCommune"
         (ngModelChange)="onSangkatCommuneChange($event)"
         [required]="addressLevel >= 3"
         *ngIf="sangkatCommuneEnable">
    </div>
    <div class="field col-12 md:col-6 xl:col-4"
         findVillage
         name="selectVillage"
         [label]="l('Village')"
         [countries]="model.country"
         [cityProvinces]="model.cityProvince"
         [khanDistricts]="model.khanDistrict"
         [sangkatCommunes]="model.sangkatCommune"
         [(ngModel)]="model.village"
         (ngModelChange)="onVillageChange($event)"
         [required]="addressLevel >= 4"
         *ngIf="villageEnable">
    </div>
    <div class="field col-12 md:col-6 xl:col-4"
         inputText
         name="postalCode"
         [label]="l('PostalCode')"
         [maxlength]="32"
         [(ngModel)]="model.postalCode"
         (ngModelChange)="onPostalCodeChange($event)"
         [required]="requiredPostalCode">
    </div>
     
    <div class="field col-12 md:col-6 xl:col-4"
         inputText
         name="street"
         [label]="l('Street')"
         [maxlength]="32"
         [(ngModel)]="model.street"
         (ngModelChange)="onStreetChange($event)"
         [required]="requiredStreet">
    </div>
    <div class="field col-12 md:col-6 xl:col-4"
         inputText
         name="hostNo"
         [label]="l('HouseNo')"
         [maxlength]="32"
         [(ngModel)]="model.houseNo"
         (ngModelChange)="onHouseNoChange($event)"
         [required]="requiredHouseNo">
    </div>
</ng-container>
