<div [@routerTransition]>
    <div class="card mb-5">
        <form novalidate autocomplete="off" #createItemForm="ngForm" (ngSubmit)="save()" [busy]="saving">

            <h4>{{l('Create_', l('Item'))}}</h4>
            <p-divider></p-divider>

            <div class="formgrid grid m-0">
                <div class="field col-12 md:col-6">
                    <label for="name" class="text-900 font-medium">{{l('Name')}}<span class="text-red-600">*</span></label>
                    <input type="text"
                           pInputText
                           class="w-full"
                           name="name"
                           id="name"
                           maxlength="128"
                           required
                           [(ngModel)]="model.name"
                           #nameModel="ngModel"
                           #nameEl />
                    <abp-validation-summary [control]="nameModel"
                                            [controlEl]="nameEl"></abp-validation-summary>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="displayName" class="text-900 font-medium">{{l('DisplayName')}}<span class="text-red-600">*</span></label>
                    <input type="text"
                           pInputText
                           class="w-full"
                           name="displayName"
                           id="displayName"
                           minlength="2"
                           maxlength="64"
                           required
                           [(ngModel)]="model.displayName"
                           #displayNameModel="ngModel"
                           #displayNameEl />
                    <abp-validation-summary [control]="displayNameModel"
                                            [controlEl]="displayNameEl"></abp-validation-summary>
                </div>
                <div class="field col-12 md:col-6">
                    <label class="text-900 font-medium">{{l('Code')}}</label>
                    <input type="text"
                           pInputText
                           class="w-full"
                           name="code"
                           id="code"
                           minlength="2"
                           maxlength="32"
                           [(ngModel)]="model.code"
                           #codeModel="ngModel"
                           #codeEl />
                    <abp-validation-summary [control]="codeModel"
                                            [controlEl]="codeEl"></abp-validation-summary>
                </div>

                <div class="field col-12 md:col-6">
                    <label class="text-900 font-medium">{{l('Description')}}</label>
                    <input type="text"
                           pInputText
                           class="w-full"
                           name="description"
                           id="description"
                           minlength="5"
                           maxlength="32"
                           [(ngModel)]="model.description"
                           #descriptionModel="ngModel"
                           #descriptionEl />
                    <abp-validation-summary [control]="descriptionModel"
                                            [controlEl]="descriptionEl"></abp-validation-summary>
                </div>

            </div>

            <p-divider></p-divider>

            <div class="flex justify-content-end flex-wrap gap-3">
                <button pButton pRipple
                        label="{{'Cancel' | localize}}"
                        class=""
                        [outlined]="true"
                        icon="pi pi-arrow-circle-left"
                        type="button"
                        (click)="cancel()"></button>

                <button pButton pRipple
                        label="{{'SaveNew' | localize}}"
                        class=""
                        icon="pi pi-save"
                        type="button"
                        (click)="saveNew(createItemForm)"
                        [disabled]="!(createItemForm.form.valid )|| saving"></button>
                <button pButton pRipple
                        label="{{'Save' | localize}}"
                        class=""
                        icon="pi pi-save"
                        type="submit"
                        [disabled]="!(createItemForm.form.valid )|| saving"></button>
            </div>
        </form>
    </div>
</div>
