<label *ngIf="label" class="mb-2">
    {{label}} <span class="text-red-500" *ngIf="required">*</span>
</label>
<p-dropdown [options]="models"
            [(ngModel)]="model"
            (onChange)="onChange($event.value)"
            (onBlur)="onTouched()"
            [disabled]="disabled"
            styleClass="w-full"
            [placeholder]="placeholder"
            [appendTo]="appendTo"
            [emptyFilterMessage]="l('RecordNotFound')"
            [emptyMessage]="l('RecordNotFound')"
            [required]="required"
            optionLabel="name"
            optionValue="value"
            [showClear]="showClear"
            [loading]="loading">
    <ng-template pTemplate="header" *ngIf="showFilter">
        <span class="p-input-icon-right w-full">
            <i class="pi pi-search"></i>
            <input type="text"
                   pInputText
                   class="w-full"
                   [(ngModel)]="filter"
                   name="{{'filterInput_' + name}}"
                   (keyup)="keyup.next($event)" />
        </span>
    </ng-template>
</p-dropdown>
<small *ngIf="required && invalid" class="p-error block">{{ l('IsRequired', l('AccountType'))}}</small>
