<label *ngIf="label" class="mb-2">
    {{label}} <span class="text-red-500" *ngIf="required">*</span>
</label>
<p-dropdown [options]="models"
            [(ngModel)]="model"
            (onChange)="onChange($event.value)"
            (onBlur)="onTouched()"
            [disabled]="disabled"
            styleClass="w-full"
            [placeholder]="placeholder"
            [appendTo]="appendTo"
            [emptyFilterMessage]="l('RecordNotFound')"
            [emptyMessage]="l('RecordNotFound')"
            [required]="required"
            optionLabel="name"
            optionValue="value"
            [filter]="showFilter"
            filterBy="name"
            [showClear]="showClear"
            [loading]="loading">
</p-dropdown>
<small *ngIf="required && invalid" class="p-error block">{{ l('IsRequired', l('AccountType'))}}</small>
