<div [@routerTransition]>
    <div class="card mb-5">
        <form novalidate autocomplete="off" #editLocationForm="ngForm" (ngSubmit)="save()" [busy]="saving">

            <h4>{{l('Edit_', l('Branch'))}}</h4>
            <p-divider></p-divider>

            <div class="formgrid grid m-0">
                <div class="field col-12 md:col-6 xl:col-4"
                     inputText
                     name="name"
                     [label]="l('Name')"
                     [maxlength]="128"
                     [(ngModel)]="model.name"
                     [required]="true">
                </div>
                <div class="field col-12 md:col-6 xl:col-4"
                     inputText
                     name="displayName"
                     [label]="l('DisplayName')"
                     [maxlength]="128"
                     [(ngModel)]="model.displayName"
                     [required]="true">
                </div>
                <div class="field col-12 md:col-6 xl:col-4"
                     inputText
                     name="businessId"
                     [label]="l('BusinessId')"
                     [maxlength]="32"
                     [(ngModel)]="model.businessId">
                </div>
                <div class="field col-12 md:col-6 xl:col-4"
                     inputText
                     name="phoneNumber"
                     [label]="l('PhoneNumber')"
                     [(ngModel)]="model.phoneNumber">
                </div>
                <div class="field col-12 md:col-6 xl:col-4"
                     inputText
                     type="email"
                     name="email"
                     [label]="l('Email')"
                     [minlength]="5"
                     [maxlength]="64"
                     [(ngModel)]="model.email">
                </div>
                <div class="field col-12 md:col-6 xl:col-4"
                     inputText
                     type="url"
                     name="website"
                     [label]="l('Website')"
                     [maxlength]="64"
                     [(ngModel)]="model.website">
                </div>
                <div class="field col-12 md:col-6 xl:col-4"
                     inputText
                     name="taxRegistrationNumber"
                     [label]="l('TaxRegistrationNumber')"
                     [maxlength]="32"
                     [(ngModel)]="model.taxRegistrationNumber">
                </div>
            </div>

            <div class="formgrid grid m-0"
                 contactAddress
                 name="billingAddress"
                 [(ngModel)]="model.billingAddress"
                 [required]="true">
            </div>
            <div class="formgrid grid m-0"
                 contactAddress
                 name="shippingAddress"
                 [isShippingAddress]="true"
                 [(sameAsBillingAddress)]="model.sameAsBillingAddress"
                 [(ngModel)]="model.shippingAddress"
                 [required]="true">
            </div>

            <div class="field col-12">
                <div class="flex flex-wrap gap-4">
                    <div class="text-900 font-medium">{{l('Sharing')}}<span class="text-red-600">*</span></div>
                    <div class="flex items-center">
                        <p-radioButton name="sharing" value="0" [(ngModel)]="model.sharing" inputId="sharingAll" />
                        <label for="sharingAll" class="ml-2">{{l("All")}}</label>
                    </div>
                    <div class="flex items-center">
                        <p-radioButton name="sharing" value="1" [(ngModel)]="model.sharing" inputId="sharingSpecificUser" />
                        <label for="sharingSpecificUser" class="ml-2">{{l("SpecificUser")}}</label>
                    </div>
                </div>
                <div class="field mt-2"
                     findUser
                     name="user"
                     [placeholder]="l('Select_', l('Users'))"
                     [required]="true"
                     [multiple]="true"
                     [(ngModel)]="users"
                     *ngIf="model.sharing==1">
                </div>
            </div>

            <p-divider></p-divider>

            <div class="flex justify-content-end gap-3 flex-wrap">
                <button pButton pRipple
                        label="{{'Cancel' | localize}}"
                        class=""
                        [outlined]="true"
                        icon="pi pi-arrow-circle-left"
                        type="button"
                        (click)="cancel()"></button>

                <button pButton pRipple
                        label="{{'Save' | localize}}"
                        class=""
                        icon="pi pi-save"
                        type="submit"
                        [disabled]="!(editLocationForm.form.valid )|| saving"></button>
            </div>

        </form>
    </div>
</div>
