<form novalidate autocomplete="off" #editRoleForm="ngForm" (ngSubmit)="save()" [busy]="saving">

    <p-tabView styleClass="mt-3">
        <p-tabPanel [header]="l('RoleInfo')" [selected]="true">
            <div class="p-3">
                <div class="field">
                    <label for="name" class="text-900 font-medium">{{l('Name')}}</label>
                    <input type="text"
                           pInputText
                           class="w-full"
                           name="name"
                           id="name"
                           required
                           minlength="2"
                           maxlength="32"
                           [(ngModel)]="role.name"
                           #nameModel="ngModel"
                           #nameEl />
                    <abp-validation-summary [control]="nameModel"
                                            [controlEl]="nameEl"></abp-validation-summary>
                </div>
                <div class="field">
                    <label for="displayName" class="text-900 font-medium">{{l('DisplayName')}}</label>
                    <input type="text"
                           pInputText
                           class="w-full"
                           name="displayName"
                           id="displayName"
                           required
                           minlength="2"
                           maxlength="32"
                           [(ngModel)]="role.displayName"
                           #displayNameModel="ngModel"
                           #displayNameEl />
                    <abp-validation-summary [control]="displayNameModel"
                                            [controlEl]="displayNameEl"></abp-validation-summary>
                </div>
                <div class="field">
                    <label for="description" class="text-900 font-medium">{{l('RoleDescription')}}</label>
                    <textarea type="text"
                              pInputTextarea
                              class="w-full"
                              name="description"
                              id="description"
                              [(ngModel)]="role.description"></textarea>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel [header]="l('Permissions')">
            <div class="p-3">
                <p-tree [value]="nodeItems"
                        selectionMode="checkbox"
                        [(selection)]="selectedNodes"
                        [propagateSelectionUp]="false"
                        [propagateSelectionDown]="true"></p-tree>
            </div>
        </p-tabPanel>
    </p-tabView>

    <div class="p-dialog-footer">
        <div class="flex justify-content-end flex-wrap">
            <button pButton pRipple
                    label="{{'Save' | localize}}"
                    class=""
                    icon="pi pi-save"
                    type="submit"
                    [disabled]="!editRoleForm.form.valid || saving"></button>
        </div>
    </div>
</form>
