<form novalidate autocomplete="off" #createBatteryForm="ngForm" (ngSubmit)="save()" [busy]="saving">
    <div class="formgrid grid p-3 m-0">
        <div class="field col-12 md:col-6"
             inputText
             name="name"
             [label]="l('Name')"
             maxlength="128"
             [(ngModel)]="model.name"
             [required]="true">
        </div>
        <div class="field col-12 md:col-6"
             inputText
             name="displayName"
             [label]="l('DisplayName')"
             maxlength="128"
             [(ngModel)]="model.displayName"
             [required]="true">
        </div>
        <div class="field col-12 md:col-6"
             inputText
             name="code"
             [label]="l('Code')"
             maxlength="32"
             [(ngModel)]="model.code"
             [required]="true"
             *ngIf="useCode">
        </div>
    </div>

    <div class="p-dialog-footer">
        <div class="flex justify-content-end flex-wrap">
            <button pButton pRipple
                    label="{{'SaveNew' | localize}}"
                    class=""
                    icon="pi pi-save"
                    type="button"
                    (click)="saveNew(createBatteryForm)"
                    [disabled]="!createBatteryForm.form.valid|| saving"></button>
            <button pButton pRipple
                    label="{{'Save' | localize}}"
                    class=""
                    icon="pi pi-save"
                    type="submit"
                    [disabled]="!createBatteryForm.form.valid|| saving"></button>
        </div>
    </div>
</form>
