<div [@routerTransition]>
    <form class="" #resetPasswordForm="ngForm" method="post" novalidate (ngSubmit)="save()" [busy]="saving">
        <div class="grid grid-nogutter p-5">

            <div class="col-12">
                <div class="field mb-3">
                    <label class="block text-900 font-medium mb-2">{{l('Password')}}</label>
                    <span class="p-input-icon-right w-full">
                        <i class="pi"
                           [ngClass]="showPassword? 'pi-eye-slash' : 'pi-eye'"
                           (click)="showPassword=!showPassword"></i>
                        <input [type]="showPassword?'text':'password'"
                               pInputText
                               class="w-full"
                               [ngClass]="{'ng-invalid': passwordModel.invalid && passwordModel.dirty}"
                               name="password"
                               id="password"
                               required
                               maxlength="32"
                               validateEqual="confirmPassword"
                               reverse="true"
                               pattern="{{passwordComplexitySetting.pattern}}"
                               [(ngModel)]="model.password"
                               #passwordModel="ngModel"
                               #passwordEl />
                    </span>
                    <abp-validation-summary [control]="passwordModel"
                                            [controlEl]="passwordEl"
                                            [customValidationErrors]="passwordValidationErrors"></abp-validation-summary>

                </div>
            </div>
            <div class="col-12">
                <div class="field mb-3">
                    <label class="block text-900 font-medium mb-2">{{l('ConfirmPassword')}}</label>
                    <span class="p-input-icon-right w-full">
                        <i class="pi"
                           [ngClass]="showConfirmPassword? 'pi-eye-slash' : 'pi-eye'"
                           (click)="showConfirmPassword=!showConfirmPassword"></i>
                        <input [type]="showConfirmPassword?'text':'password'"
                               pInputText
                               class="w-full"
                               [ngClass]="{'ng-invalid': confirmPasswordModel.invalid && confirmPasswordModel.dirty}"
                               name="confirmPassword"
                               id="confirmPassword"
                               required
                               maxlength="32"
                               validateEqual="password"
                               reverse="false"
                               [(ngModel)]="model.passwordRepeat"
                               #confirmPasswordModel="ngModel"
                               #confirmPasswordEl />
                    </span>
                    <abp-validation-summary [control]="confirmPasswordModel"
                                            [controlEl]="confirmPasswordEl"
                                            [customValidationErrors]="confirmPasswordValidationErrors"></abp-validation-summary>

                </div>
            </div>
            <div class="col-12">
                <p-message severity="info" [text]="l('EnterYourNewPassword')" styleClass="w-full justify-content-start"></p-message>
            </div>
        </div>

        <div *ngIf="useCaptcha" class="form-group mt-2 captcha-container">
            <re-captcha #recaptchaRef size="invisible" (resolved)="$event && captchaResolved($event)" [siteKey]="recaptchaSiteKey"></re-captcha>
            <re-captcha #recaptchaRefLogin size="invisible" (resolved)="$event && captchaResolvedLogin($event)" [siteKey]="recaptchaSiteKey"></re-captcha>
        </div>

        <div class="flex align-items-center justify-content-between mt-5">
            <button pButton pRipple
                    label="{{'Back' | localize}}"
                    class="flex p-button-outlined p-button-secondary"
                    icon="fas fa-arrow-circle-left"
                    type="button"
                    [routerLink]="['../login']"></button>

            <button pButton pRipple
                    label="{{'Submit' | localize}}"
                    class="flex"
                    icon="fa-solid fa-paper-plane"
                    type="submit"
                    [loading]="saving"
                    [disabled]="resetPasswordForm.form.invalid || saving"></button>
        </div>

    </form>
</div>




