<div *ngIf="label" class="flex flex-wrap align-items-center gap-1 mb-2">
    {{label}} <span class="text-red-500" *ngIf="required">*</span>
</div>
<p-calendar [inputId]="inputId"
            [appendTo]="appendTo"
            [placeholder]="placeholder"
            [showIcon]="true"
            [iconDisplay]="'input'"
            [showButtonBar]="true"
            [required]="required"
            [(ngModel)]="model"
            (ngModelChange)="onChange(model)"
            (onBlur)="onTouched()"
            [disabled]="disabled"
            dateFormat="dd-mm-yy"
            styleClass="w-full"
            [ngClass]="{'ng-invalid': invalid, 'ng-dirty': dirty }"></p-calendar>
<small *ngIf="required && invalid && dirty" class="p-error block">{{ l('IsRequired', label)}}</small>      

