<label *ngIf="label">{{label}} <span class="text-red-500" *ngIf="required">*</span></label>
<p-calendar [inputId]="inputId"
            [appendTo]="appendTo"
            [placeholder]="placeholder"
            [showIcon]="true"
            [iconDisplay]="'input'"
            [showButtonBar]="true"
            [required]="required"
            [(ngModel)]="value"
            (onChange)="onChange($event.value)"
            (onBlur)="onTouched()"
            [disabled]="disabled"
            dateFormat="dd-mm-yy"
            styleClass="w-full"></p-calendar>
<small *ngIf="invalid" class="p-error block">{{ l('IsRequired', label)}}</small>      

