<p-tabView [(activeIndex)]="activeIndex">
    <p-tabPanel header="{{l('Items')}}">
        <ng-template pTemplate="content">
            <app-item></app-item>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel header="{{l('Settings')}}">
        <ng-template pTemplate="content">
            <app-item-setting></app-item-setting>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel header="{{l('ItemFieldSetting')}}">
        <ng-template pTemplate="content">
            <app-item-field-setting></app-item-field-setting>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel header="{{l('CodeFormula')}}">
        <ng-template pTemplate="content">
            Formula
        </ng-template>
    </p-tabPanel>
</p-tabView>
