<form novalidate autocomplete="off" #createVillageForm="ngForm" (ngSubmit)="save()" [busy]="saving">
    <div class="formgrid grid p-3 m-0">
        <div class="field col-12 md:col-6">
            <label for="name" class="text-900 font-medium">{{l('Name')}}<span class="text-red-600">*</span></label>
            <input type="text"
                   pInputText
                   class="w-full"
                   name="name"
                   id="name"
                   maxlength="128"
                   required
                   [(ngModel)]="model.name"
                   #nameModel="ngModel"
                   #nameEl />
            <abp-validation-summary [control]="nameModel"
                                    [controlEl]="nameEl"></abp-validation-summary>
        </div>
        <div class="field col-12 md:col-6">
            <label for="displayName" class="text-900 font-medium">{{l('DisplayName')}}<span class="text-red-600">*</span></label>
            <input type="text"
                   pInputText
                   class="w-full"
                   name="displayName"
                   id="displayName"
                   minlength="2"
                   maxlength="64"
                   required
                   [(ngModel)]="model.displayName"
                   #displayNameModel="ngModel"
                   #displayNameEl />
            <abp-validation-summary [control]="displayNameModel"
                                    [controlEl]="displayNameEl"></abp-validation-summary>
        </div>

        <div class="field col-12 md:col-6">
            <label for="code" class="text-900 font-medium">{{l('Code_',l('Location'))}}<span class="text-red-600">*</span></label>
            <input type="text"
                   pInputText
                   class="w-full"
                   name="code"
                   id="code"
                   minlength="11"
                   maxlength="11"
                   required
                   [(ngModel)]="model.code"
                   #codeModel="ngModel"
                   #codeEl />
            <abp-validation-summary [control]="codeModel"
                                    [controlEl]="codeEl"></abp-validation-summary>
        </div>
        <div class="field col-12 md:col-6 hidden md:block">
        </div>
        <div class="field col-12 md:col-6"
             findCountry
             name="country"
             [required]="true"
             [label]="l('Country')"
             [(selectedModel)]="country"
             (selectedModelChange)="model.countryId = $event?.id">
            <input type="hidden" required [(ngModel)]="model.countryId" name="countryId" />
        </div>
        <div class="field col-12 md:col-6"
             findCityProvince
             name="cityProvince"
             [countries]="country"
             [required]="true"
             [label]="l('CityProvince')"
             [(selectedModel)]="cityProvince"
             (selectedModelChange)="model.cityProvinceId = $event?.id">
            <input type="hidden" required [(ngModel)]="model.cityProvinceId" name="cityProvinceId" />
        </div>
        <div class="field col-12 md:col-6"
             findKhanDistrict
             name="khanDistrict"
             [countries]="country"
             [cityProvinces]="cityProvince"
             [required]="true"
             [label]="l('KhanDistrict')"
             [(selectedModel)]="khanDistrict"
             (selectedModelChange)="model.khanDistrictId = $event?.id">
            <input type="hidden" required [(ngModel)]="model.khanDistrictId" name="khanDistrictId" />
        </div>

        <div class="field col-12 md:col-6"
             findSangkatCommune
             name="sangkatCommune"
             [countries]="country"
             [cityProvinces]="cityProvince"
             [khanDistricts]="khanDistrict"
             [required]="true"
             [label]="l('SangkatCommune')"
             (selectedModelChange)="model.sangkatCommuneId = $event?.id">
            <input type="hidden" required [(ngModel)]="model.sangkatCommuneId" name="sangkatCommuneId" />
        </div>

        <div class="field col-12 md:col-6">
            <label for="latitude" class="text-900 font-medium">{{l('Latitude')}}</label>
            <input type="text"
                   pInputText
                   class="w-full"
                   name="latitude"
                   id="latitude"
                   minlength="2"
                   maxlength="64"
                   [(ngModel)]="model.latitude"
                   #latitudeModel="ngModel"
                   #latitudeEl />
            <abp-validation-summary [control]="latitudeModel"
                                    [controlEl]="latitudeEl"></abp-validation-summary>
        </div>
        <div class="field col-12 md:col-6">
            <label for="longitude" class="text-900 font-medium">{{l('Longitude')}}</label>
            <input type="text"
                   pInputText
                   class="w-full"
                   name="longitude"
                   id="longitude"
                   minlength="2"
                   maxlength="64"
                   [(ngModel)]="model.longitude"
                   #longitudeModel="ngModel"
                   #longitudeEl />
            <abp-validation-summary [control]="longitudeModel"
                                    [controlEl]="longitudeEl"></abp-validation-summary>
        </div>
    </div>

    <div class="p-dialog-footer">
        <div class="flex justify-content-end flex-wrap">
            <button pButton pRipple
                    label="{{'SaveNew' | localize}}"
                    class=""
                    icon="pi pi-save"
                    type="button"
                    (click)="saveNew(createVillageForm)"
                    [disabled]="!createVillageForm.form.valid|| saving"></button>
            <button pButton pRipple
                    label="{{'Save' | localize}}"
                    class=""
                    icon="pi pi-save"
                    type="submit"
                    [disabled]="!createVillageForm.form.valid|| saving"></button>
        </div>
    </div>
</form>
