<label class="text-900 font-medium" *ngIf="label">
    {{label}}/{{dirty}}/{{invalid}}/{{required}}
    <span class="text-red-500" *ngIf="required">*</span>
</label>
<div class="flex">
    <p-inputNumber styleClass="w-full"
                   inputStyleClass="border-noround-right"
                   class="w-full border-noround-right"
                   name="{{name}}"
                   [attr.name]="name"
                   [inputId]="name"
                   [placeholder]="placeholder"
                   [required]="required"
                   [(ngModel)]="model"
                   (ngModelChange)="onChange($event)"
                   (onBlur)="onTouched()"
                   [disabled]="disabled"
                   [minFractionDigits]="minDigits"
                   [maxFractionDigits]="maxDigits"
                   [ngClass]="{'ng-dirty': dirty, 'ng-invalid': invalid}"/>
    <p-dropdown [options]="units"
                [(ngModel)]="unit"
                (onChange)="onUnitChange($event)"
                (onBlur)="onTouched()"
                [disabled]="disabled"
                styleClass="w-6rem border-noround-left border-left-none"
                appendTo="body"
                [emptyFilterMessage]="l('RecordNotFound')"
                [emptyMessage]="l('RecordNotFound')"
                [required]="required"
                optionLabel="name"
                optionValue="value"
                [virtualScroll]="true"
                [virtualScrollItemSize]="38"
                [filter]="true"
                filterBy="name"
                showClear="false"
                [loading]="loading"
                [ngClass]="{'ng-dirty': dirty, 'ng-invalid': invalid}">
    </p-dropdown>
</div>
<small *ngIf="required && invalid && dirty && validateMessage" class="p-error block">{{ validateMessage }}</small>
