<form novalidate autocomplete="off" #editItemCodeFormulaForm="ngForm" (ngSubmit)="save()" [busy]="saving">
    <div class="formgrid grid p-3 m-0">
        <div class="field col-12 md:col-6"
             selectItemType
             name="itemType"
             [required]="true"
             [label]="l('ItemTypes')"
             [multiple]="true"
             [(ngModel)]="itemTypes">
        </div>
        <div class="field col-12 md:col-6">
            <label for="prefix" class="text-900 font-medium">{{l('Type')}}<span class="text-red-600">*</span></label>
            <div class="flex flex-wrap gap-3">
                <div class="flex align-items-center cursor-pointer">
                    <p-radioButton name="type"
                                   value="0"
                                   [(ngModel)]="model.type"
                                   inputId="type0" />
                    <label for="type0" class="ml-2">
                        {{l('Manual')}}
                    </label>
                </div>

                <div class="flex align-items-center cursor-pointer">
                    <p-radioButton name="type"
                                   value="1"
                                   [(ngModel)]="model.type"
                                   inputId="type1" />
                    <label for="type1" class="ml-2">
                        {{l('Custom')}}
                    </label>
                </div>
            </div>
        </div>


        <div class="field col-12 md:col-6" *ngIf="model.type==1">
            <label for="prefix" class="text-900 font-medium">{{l('Perfix')}}<span class="text-red-600">*</span></label>
            <input type="text"
                   pInputText
                   class="w-full"
                   name="prefix"
                   id="prefix"
                   maxlength="128"
                   required
                   [(ngModel)]="model.prefix"
                   #prefixModel="ngModel"
                   #prefixEl />
            <abp-validation-summary [control]="prefixModel"
                                    [controlEl]="prefixEl"></abp-validation-summary>
        </div>

        <div class="field col-12 md:col-6" *ngIf="model.type==1">
            <label for="digits" class="text-900 font-medium">{{l('Digits')}}<span class="text-red-600">*</span></label>
            <input type="text"
                   pInputText
                   class="w-full"
                   name="digits"
                   id="digits"
                   required
                   maxlength="4"
                   [(ngModel)]="model.digits"
                   #digitsModel="ngModel"
                   #digitsEl />
            <abp-validation-summary [control]="digitsModel"
                                    [controlEl]="digitsEl"></abp-validation-summary>
        </div>

        <div class="field col-12 md:col-6" *ngIf="model.type==1">
            <label for="start" class="text-900 font-medium">{{l('Start')}}<span class="text-red-600">*</span></label>
            <input type="text"
                   pInputText
                   class="w-full"
                   name="start"
                   id="start"
                   maxlength="64"
                   required
                   [(ngModel)]="model.start"
                   #startModel="ngModel"
                   #startEl />
            <abp-validation-summary [control]="startModel"
                                    [controlEl]="startEl"></abp-validation-summary>
        </div>
    </div>

    <div class="p-dialog-footer">
        <div class="flex justify-content-end flex-wrap">
            <button pButton pRipple
                    label="{{'Save' | localize}}"
                    class=""
                    icon="pi pi-save"
                    type="submit"
                    [disabled]="!editItemCodeFormulaForm.form.valid|| saving"></button>
        </div>
    </div>
</form>
