<form novalidate autocomplete="off" #editSangkatCommuneForm="ngForm" (ngSubmit)="save()" [busy]="saving">
    <div class="formgrid grid p-3 m-0">
        <div class="field col-12 md:col-6">
            <label for="name" class="text-900 font-medium">{{l('Name')}}<span class="text-red-600">*</span></label>
            <input type="text"
                   pInputText
                   class="w-full"
                   name="name"
                   id="name"
                   maxlength="128"
                   required
                   [(ngModel)]="model.name"
                   #nameModel="ngModel"
                   #nameEl />
            <abp-validation-summary [control]="nameModel"
                                    [controlEl]="nameEl"></abp-validation-summary>
        </div>
        <div class="field col-12 md:col-6">
            <label for="displayName" class="text-900 font-medium">{{l('DisplayName')}}<span class="text-red-600">*</span></label>
            <input type="text"
                   pInputText
                   class="w-full"
                   name="displayName"
                   id="displayName"
                   minlength="2"
                   maxlength="64"
                   required
                   [(ngModel)]="model.displayName"
                   #displayNameModel="ngModel"
                   #displayNameEl />
            <abp-validation-summary [control]="displayNameModel"
                                    [controlEl]="displayNameEl"></abp-validation-summary>
        </div>
        <div class="field col-12 md:col-6">
            <label for="code" class="text-900 font-medium">{{l('Code_',l('SangkatCommune'))}}<span class="text-red-600">*</span></label>
            <input type="text"
                   pInputText
                   class="w-full"
                   name="code"
                   id="code"
                   minlength="10"
                   maxlength="12"
                   required
                   [(ngModel)]="model.code"
                   #codeModel="ngModel"
                   #codeEl />
            <abp-validation-summary [control]="codeModel"
                                    [controlEl]="codeEl"></abp-validation-summary>
        </div>
        <div class="field col-12 md:col-6"
             findCountry
             name="country"
             [required]="true"
             [label]="l('Country')"
             [(ngModel)]="country"
             (ngModelChange)="model.countryId = $event?.id">
        </div>
        <div class="field col-12 md:col-6"
             findCityProvince
             name="cityProvince"
             [countries]="country"
             [required]="true"
             [label]="l('CityProvince')"
             [(ngModel)]="cityProvince"
             (ngModelChange)="model.cityProvinceId = $event?.id">
        </div>
        <div class="field col-12 md:col-6"
             findKhanDistrict
             name="khanDistrict"
             [countries]="country"
             [cityProvinces]="cityProvince"
             [required]="true"
             [label]="l('KhanDistrict')"
             [(ngModel)]="khanDistrict"
             (ngModelChange)="model.khanDistrictId = $event?.id">
        </div>
        
    </div>

    <div class="p-dialog-footer">
        <div class="flex justify-content-end flex-wrap">
            <button pButton pRipple
                    label="{{'Save' | localize}}"
                    class=""
                    icon="pi pi-save"
                    type="submit"
                    [disabled]="!editSangkatCommuneForm.form.valid|| saving"></button>
        </div>
    </div>
</form>
