<div *ngIf="label" class="flex flex-wrap align-items-center gap-1 mb-2">
    {{label}}
    <span class="text-red-500" *ngIf="required">*</span>
</div>
<input [type]="type"
       pInputText
       class="w-full"
       name="{{name}}"
       [placeholder]="placeholder"
       [minlength]="minlength"
       [maxlength]="maxlength"
       [(ngModel)]="model"
       (ngModelChange)="onChange($event)"
       (onBlur)="onTouched()"
       [disabled]="disabled"
       [required]="required"
       [pattern]="pattern"
       #inputModel="ngModel"
       #inputEl/>
<abp-validation-summary [control]="inputModel"
                        [controlEl]="inputEl"></abp-validation-summary>
