<div class="text-900 font-medium" *ngIf="label">
    {{label}}
    <span class="text-red-500" *ngIf="required">*</span>
</div>
<input [type]="type"
       pInputText
       class="w-full"
       name="{{name}}"
       [minlength]="minlength"
       [maxlength]="maxlength"
       [(ngModel)]="model"
       (ngModelChange)="onChange($event)"
       (onBlur)="onTouched()"
       [disabled]="disabled"
       [required]="required"
       [ngClass]="{'border-red-600': invalidPattern }"
       #inputModel="ngModel"
       #inputEl/>
<abp-validation-summary [control]="inputModel"
                        [controlEl]="inputEl"></abp-validation-summary>
<small *ngIf="dirty && invalidPattern && type=='email'" class="p-error">{{l('InvalidEmailAddress')}}</small>
<small *ngIf="dirty && invalidPattern && type=='url'" class="p-error">{{l('InvalidURL')}}</small>
<small *ngIf="dirty && invalidPattern && type!='email' && type!='url'" class="p-error">{{l('InvalidPattern')}}</small>
