<form novalidate autocomplete="off" #editChartOfAccountForm="ngForm" (ngSubmit)="save()" [busy]="saving">
    <div class="formgrid grid p-3 m-0">
        <div class="field col-12 md:col-6"
             selectAccountType
             name="selectAccountType"
             [label]="l('AccountType')"
             [required]="true"
             [(ngModel)]="model.accountType">
        </div>
        <div class="field col-12 md:col-6"
             selectSubAccountType
             name="selectSubAccountType"
             [label]="l('SubAccountType')"
             [(accountTypeIds)]="model.accountType"
             [required]="true"
             [(ngModel)]="model.subAccountType">
        </div>
        <div class="field col-12 md:col-6"
             inputText
             name="code"
             [label]="l('Code')"
             [minlength]="4"
             [maxlength]="16"
             [(ngModel)]="model.code"
             [required]="true"
             *ngIf="customCodeEnble">
        </div>
        <div class="field col-12 md:col-6"
             inputText
             name="name"
             [label]="l('Name')"
             [maxlength]="128"
             [(ngModel)]="model.name"
             [required]="true">
        </div>
        <div class="field col-12 md:col-6"
             inputText
             name="displayName"
             [label]="l('DisplayName')"
             [maxlength]="128"
             [(ngModel)]="model.displayName"
             [required]="true">
        </div>
        <div class="field col-12 md:col-6"
             findChartOfAccount
             name="parentAccount"
             [label]="l('ParentAccount')"
             [excludeSubAccount]="true"
             [(ngModel)]="parentAccount"
             (ngModelChange)="model.parentId = $event?.id">
        </div>
    </div>


    <div class="p-dialog-footer">
        <div class="flex justify-content-end flex-wrap">
            <button pButton pRipple
                    label="{{'Save' | localize}}"
                    class=""
                    icon="pi pi-save"
                    type="submit"
                    [disabled]="!(editChartOfAccountForm.form.valid )|| saving"></button>
        </div>
    </div>
</form>
