<ng-container *ngFor="let h of model;">
    <ng-container *ngIf="showMenuItem(h)">
        <h6 class="text-primary text-lg font-bold">{{h.label}}</h6>
        <p-divider></p-divider>
        <div class="flex flex-wrap gap-4" #menuContainer>
            <ng-container *ngFor="let m of h.items">
                <ng-container *ngIf="!m.apps && showMenuItem(m)">
                    <a [routerLink]="m.routerLink" class="flex flex-column gap-2 card app mb-0 cursor-pointer" *ngIf="m.routerLink">
                        <i class="{{m.icon}} text-7xl text-center"></i>
                        <span class="text-center font-medium">{{m.label}} </span>
                    </a>
                    <span class="flex flex-column gap-2 card app mb-0" *ngIf="!m.routerLink" (click)="m.showChild = !m.showChild" [ngClass]="{'selected': m.showChild, 'cursor-pointer': !m.showChild }">
                        <i class="{{m.icon}} text-7xl text-center"></i>
                        <span class="text-center font-medium">{{m.label}} </span>
                    </span>
                    <ng-container *ngIf="m.showChild && m.items && m.items.length">
                        <ng-container *ngFor="let mi of m.items">
                            <a [routerLink]="mi.routerLink" class="flex flex-column gap-2 card app mb-0 cursor-pointer" *ngIf="!mi.apps && showMenuItem(mi)">
                                <i class="{{mi.icon}} text-7xl text-center"></i>
                                <span class="text-center font-medium">{{mi.label}} </span>
                            </a>
                        </ng-container>
                    </ng-container>
                    
                </ng-container>
            </ng-container>
        </div>
    </ng-container>
</ng-container>

