<label *ngIf="label" class="flex flex-wrap align-items-center gap-1 mb-2">
    <p-checkbox name="{{'exclude_' + name}}"
                [label]="l('Exclude')"
                [binary]="true"
                [(ngModel)]="exclude"
                (ngModelChange)="excludeChange.emit($event)"
                inputId="'exclude' + name"
                *ngIf="showExclude"></p-checkbox>
    {{label}} <span class="text-red-500" *ngIf="required">*</span>
</label>
<p-dropdown [options]="models"
            [(ngModel)]="model"
            (onChange)="onChange($event.value)"
            (onBlur)="onTouched()"
            (onHide)="onClose.emit(model)"
            [disabled]="disabled"
            styleClass="w-full"
            [placeholder]="placeholder"
            [appendTo]="appendTo"
            [emptyFilterMessage]="l('RecordNotFound')"
            [emptyMessage]="l('RecordNotFound')"
            [required]="required"
            optionLabel="name"
            optionValue="value"
            [virtualScroll]="true"
            [virtualScrollItemSize]="38"
            [filter]="showFilter"
            filterBy="name"
            [showClear]="showClear"
            [loading]="loading"
            *ngIf="!multiple">
</p-dropdown>
<p-multiSelect [options]="models"
               [(ngModel)]="model"
               (onChange)="onChange($event.value)"
               (onBlur)="onTouched()"
               (onClear)="onChange(model)"
               (onPanelHide)="onClose.emit(model)"
               [disabled]="disabled"
               styleClass="w-full"
               [placeholder]="placeholder"
               [appendTo]="appendTo"
               [emptyFilterMessage]="l('RecordNotFound')"
               [emptyMessage]="l('RecordNotFound')"
               [required]="required"
               optionLabel="name"
               optionValue="value"
               [showToggleAll]="false"
               [virtualScroll]="true"
               [virtualScrollItemSize]="38"
               [filter]="showFilter"
               filterBy="name"
               [showClear]="showClear"
               [loading]="loading"
               *ngIf="multiple">
</p-multiSelect>
<small *ngIf="required && invalid && validateMessage" class="p-error block">{{ validateMessage }}</small>
