<form novalidate autocomplete="off" #createWarehouseForm="ngForm" (ngSubmit)="save()" [busy]="saving">
    <div class="formgrid grid p-3 m-0">
        <div class="field col-12 md:col-6"
             inputText
             name="name"
             [label]="l('Name')"
             maxlength="128"
             [(ngModel)]="model.name"
             [required]="true">
        </div>
        <div class="field col-12 md:col-6"
             inputText
             name="displayName"
             [label]="l('DisplayName')"
             maxlength="128"
             [(ngModel)]="model.displayName"
             [required]="true">
        </div>
        <div class="field col-12 md:col-6"
             inputText
             name="code"
             [label]="l('Code')"
             maxlength="4"
             [(ngModel)]="model.code"
             [required]="true">
        </div>
        <div class="field col-12">
            <div class="flex flex-wrap gap-4">
                <label for="sharing" class="text-900 font-medium">{{l('Sharing')}}<span class="text-red-600">*</span></label>
                <div class="flex items-center">
                    <p-radioButton name="sharing" value="0" [(ngModel)]="model.sharing" inputId="sharingAll" />
                    <label for="sharingAll" class="ml-2">{{l("All")}}</label>
                </div>
                <div class="flex items-center">
                    <p-radioButton name="sharing" value="1" [(ngModel)]="model.sharing" inputId="sharingSpecificBranch" />
                    <label for="sharingSpecificBranch" class="ml-2">{{l("SpecificBranch")}}</label>
                </div>
            </div>
            <div class="field mt-2"
                 findBranch
                 name="branch"
                 [required]="true"
                 [multiple]="true"
                 [(ngModel)]="branches"
                 *ngIf="model.sharing==1">
            </div>
        </div>

    </div>

    <div class="p-dialog-footer">
        <div class="flex justify-content-end flex-wrap">
            <button pButton pRipple
                    label="{{'SaveNew' | localize}}"
                    class=""
                    icon="pi pi-save"
                    type="button"
                    (click)="saveNew(createWarehouseForm)"
                    [disabled]="!createWarehouseForm.form.valid|| saving"></button>
            <button pButton pRipple
                    label="{{'Save' | localize}}"
                    class=""
                    icon="pi pi-save"
                    type="submit"
                    [disabled]="!createWarehouseForm.form.valid|| saving"></button>
        </div>
    </div>
</form>
