<div [@routerTransition]>
    <div class="-mx-3">

        <p-menu #inlineActionMenu [popup]="true" appendTo="body"></p-menu>

        <p-sidebar [(visible)]="showFilter" position="right">
            <div class="layout-config" [ngClass]="{'layout-config-active': showFilter}">
                <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-outlined p-button-text layout-config-close" (click)="showFilter=false"></button>
                <div class="layout-config-content has-footer">
                    <h6 class="mt-0">{{l('Filter')}}</h6>
                    <div class="field">
                        <input pInputText class="w-full" type="text" placeholder="Search" [(ngModel)]="filterInput.keyword" (keydown.enter)="refresh($event)" />
                    </div>
                    <div class="field">
                        <label>{{l('IsActive')}}</label>
                        <p-dropdown [options]="isActiveModels" [(ngModel)]="filterInput.isActive" styleClass="w-full"></p-dropdown>
                    </div>
                    <div class="field"
                         selectItemType
                         name="itemType"
                         [label]="l('ItemType')"
                         [multiple]="true"
                         [showExclude]="true"
                         [(exclude)]="filterInput.itemTypeFilter.exclude"
                         [(ngModel)]="filterInput.itemTypeFilter.ids">
                    </div>
                    <div class="field"
                         selectItemCategory
                         name="itemCategory"
                         [label]="l('ItemCategory')"
                         [multiple]="true"
                         [showExclude]="true"
                         [(exclude)]="filterInput.itemCategoryFilter.exclude"
                         [(ngModel)]="filterInput.itemCategoryFilter.ids">
                    </div>
                    <div class="field"
                         findUnit
                         name="unit"
                         [label]="l('Unit')"
                         [multiple]="true"
                         [showExclude]="true"
                         [(exclude)]="filterInput.unitFilter.exclude"
                         [(ngModel)]="findModel.unit"
                         (ngModelChange)="onUnitChange($event)">
                    </div>
                    <div class="field"
                         findItemGroup
                         name="itemGroup"
                         [label]="l('ItemGroup')"
                         [multiple]="true"
                         [showExclude]="true"
                         [(exclude)]="filterInput.itemGroupFilter.exclude"
                         [(ngModel)]="findModel.itemGroup"
                         (ngModelChange)="onItemGroupChange($event)"
                         *ngIf="appSession.itemSetting?.useItemGroup">
                    </div>
                    <div class="field"
                         findItemBrand
                         name="itemBrand"
                         [label]="l('ItemBrand')"
                         [multiple]="true"
                         [showExclude]="true"
                         [(exclude)]="filterInput.itemBrandFilter.exclude"
                         [(ngModel)]="findModel.itemBrand"
                         (ngModelChange)="onItemBrandChange($event)"
                         *ngIf="appSession.itemSetting?.useBrand">
                    </div>
                    <div class="field"
                         findItemGrade
                         name="itemGrade"
                         [label]="l('ItemGrade')"
                         [multiple]="true"
                         [showExclude]="true"
                         [(exclude)]="filterInput.itemGradeFilter.exclude"
                         [(ngModel)]="findModel.itemGrade"
                         (ngModelChange)="onItemGradeChange($event)"
                         *ngIf="appSession.itemSetting?.useGrade">
                    </div>
                    <div class="field"
                         findItemModel
                         name="itemModel"
                         [label]="l('ItemModel')"
                         [multiple]="true"
                         [showExclude]="true"
                         [(exclude)]="filterInput.itemModelFilter.exclude"
                         [(ngModel)]="findModel.itemModel"
                         (ngModelChange)="onItemModelChange($event)"
                         *ngIf="appSession.itemSetting?.useModel">
                    </div>
                    <div class="field"
                         findItemSize
                         name="itemSize"
                         [label]="l('ItemSize')"
                         [multiple]="true"
                         [showExclude]="true"
                         [(exclude)]="filterInput.itemSizeFilter.exclude"
                         [(ngModel)]="findModel.itemSize"
                         (ngModelChange)="onItemSizeChange($event)"
                         *ngIf="appSession.itemSetting?.useSize">
                    </div>
                    <div class="field"
                         findItemSeries
                         name="itemSeries"
                         [label]="l('ItemSeries')"
                         [multiple]="true"
                         [showExclude]="true"
                         [(exclude)]="filterInput.itemSeriesFilter.exclude"
                         [(ngModel)]="findModel.itemSeries"
                         (ngModelChange)="onItemSeriesChange($event)"
                         *ngIf="appSession.itemSetting?.useSeries">
                    </div>
                    <div class="field"
                         findColorPattern
                         name="colorPattern"
                         [label]="l('ColorPattern')"
                         [multiple]="true"
                         [showExclude]="true"
                         [(exclude)]="filterInput.colorPatternFilter.exclude"
                         [(ngModel)]="findModel.colorPattern"
                         (ngModelChange)="onColorPatternChange($event)"
                         *ngIf="appSession.itemSetting?.useColorPattern">
                    </div>
                    <div class="field"
                         findCPU
                         name="cpu"
                         [label]="l('CPU')"
                         [multiple]="true"
                         [showExclude]="true"
                         [(exclude)]="filterInput.cpuFilter.exclude"
                         [(ngModel)]="findModel.cpu"
                         (ngModelChange)="onCPUChange($event)"
                         *ngIf="appSession.itemSetting?.useCPU">
                    </div>
                    <div class="field"
                         findRAM
                         name="ram"
                         [label]="l('RAM')"
                         [multiple]="true"
                         [showExclude]="true"
                         [(exclude)]="filterInput.ramFilter.exclude"
                         [(ngModel)]="findModel.ram"
                         (ngModelChange)="onRAMChange($event)"
                         *ngIf="appSession.itemSetting?.useRAM">
                    </div>
                    <div class="field"
                         findVGA
                         name="vga"
                         [label]="l('VGA')"
                         [multiple]="true"
                         [showExclude]="true"
                         [(exclude)]="filterInput.vgaFilter.exclude"
                         [(ngModel)]="findModel.vga"
                         (ngModelChange)="onVGAChange($event)"
                         *ngIf="appSession.itemSetting?.useVGA">
                    </div>
                    <div class="field"
                         findHDD
                         name="hdd"
                         [label]="l('HDD')"
                         [multiple]="true"
                         [showExclude]="true"
                         [(exclude)]="filterInput.hddFilter.exclude"
                         [(ngModel)]="findModel.hdd"
                         (ngModelChange)="onHDDChange($event)"
                         *ngIf="appSession.itemSetting?.useHDD">
                    </div>
                    <div class="field"
                         findScreen
                         name="screen"
                         [label]="l('Screen')"
                         [multiple]="true"
                         [showExclude]="true"
                         [(exclude)]="filterInput.screenFilter.exclude"
                         [(ngModel)]="findModel.screen"
                         (ngModelChange)="onScreenChange($event)"
                         *ngIf="appSession.itemSetting?.useScreen">
                    </div>
                    <div class="field"
                         findCamera
                         name="camera"
                         [label]="l('Camera')"
                         [multiple]="true"
                         [showExclude]="true"
                         [(exclude)]="filterInput.cameraFilter.exclude"
                         [(ngModel)]="findModel.camera"
                         (ngModelChange)="onCameraChange($event)"
                         *ngIf="appSession.itemSetting?.useCamera">
                    </div>
                    <div class="field"
                         findBattery
                         name="battery"
                         [label]="l('Battery')"
                         [multiple]="true"
                         [showExclude]="true"
                         [(exclude)]="filterInput.batteryFilter.exclude"
                         [(ngModel)]="findModel.battery"
                         (ngModelChange)="onBatteryChange($event)"
                         *ngIf="appSession.itemSetting?.useBattery">
                    </div>
                    <div class="field"
                         findFieldA
                         name="fieldA"
                         [label]="appSession.itemSetting?.fieldALabel ? l(appSession.itemSetting?.fieldALabel) : l('FieldA')"
                         [multiple]="true"
                         [showExclude]="true"
                         [(exclude)]="filterInput.fieldAFilter.exclude"
                         [(ngModel)]="findModel.fieldA"
                         (ngModelChange)="onFieldAChange($event)"
                         *ngIf="appSession.itemSetting?.useFieldA">
                    </div>
                    <div class="field"
                         findFieldB
                         name="fieldB"
                         [label]="appSession.itemSetting?.fieldBLabel ? l(appSession.itemSetting?.fieldBLabel) : l('FieldB')"
                         [multiple]="true"
                         [showExclude]="true"
                         [(exclude)]="filterInput.fieldBFilter.exclude"
                         [(ngModel)]="findModel.fieldB"
                         (ngModelChange)="onFieldBChange($event)"
                         *ngIf="appSession.itemSetting?.useFieldB">
                    </div>
                    <div class="field"
                         findFieldC
                         name="fieldC"
                         [label]="appSession.itemSetting?.fieldCLabel ? l(appSession.itemSetting?.fieldCLabel) : l('FieldC')"
                         [multiple]="true"
                         [showExclude]="true"
                         [(exclude)]="filterInput.fieldCFilter.exclude"
                         [(ngModel)]="findModel.fieldC"
                         (ngModelChange)="onFieldCChange($event)"
                         *ngIf="appSession.itemSetting?.useFieldC">
                    </div>
                    <div class="field"
                         findUser
                         name="created"
                         [label]="l('Created')"
                         [multiple]="true"
                         [showExclude]="true"
                         [(exclude)]="filterInput.creatorFilter.exclude"
                         [(ngModel)]="findModel.creator"
                         (ngModelChange)="onCreatorChange($event)">
                    </div>
                    <div class="field"
                         findUser
                         name="modified"
                         [label]="l('Modified')"
                         [multiple]="true"
                         [showExclude]="true"
                         [(exclude)]="filterInput.modifierFilter.exclude"
                         [(ngModel)]="findModel.modifier"
                         (ngModelChange)="onModifierChange($event)">
                    </div>
                </div>
                <div class="layout-config-footer" searchFooter [loading]="isTableLoading" (onSearch)="refresh($event)">
                </div>
            </div>
        </p-sidebar>

        <p-overlayPanel #op styleClass="p-0">
            <table-setting [columns]="columns"
                           [(selectedColumns)]="selectedColumns"
                           (clearSetting)="deleteTableCache()"
                           [(gridLine)]="showGridLine"
                           (gridLineChange)="showGridLineChange($event)"></table-setting>
        </p-overlayPanel>

        <div class="flex justify-content-between flex-wrap gap-3 pb-3">
            <div class="flex align-items-center"
                 navBar
                 (settingClick)="op.show($event)"
                 [navs]="navBarItems">
            </div>
            <div searchAction
                 class="flex align-items-center gap-2"
                 [actionMenuItems]="actionMenuItems"
                 [showFilter]="true"
                 (filterClick)="showFilter=true;"
                 (onSearch)="refresh($event)"
                 [(keyword)]="filterInput.keyword">
            </div>
        </div>

        <p-table #itemTable
                 [columns]="selectedColumns"
                 [value]="listItems"
                 [paginator]="true"
                 [rowsPerPageOptions]="rowsPerPageOptions"
                 [loading]="isTableLoading"
                 [rowHover]="true"
                 [rows]="filterInput.maxResultCount"
                 [first]="filterInput.skipCount"
                 [sortField]="filterInput.sortField"
                 [sortOrder]="filterInput.sortMode"
                 [totalRecords]="totalCount"
                 [showCurrentPageReport]="true"
                 [currentPageReportTemplate]="currentPageReportTemplate"
                 responsiveLayout="stack"
                 [filterDelay]="0"
                 [lazy]="true"
                 [lazyLoadOnInit]="false"
                 (onLazyLoad)="loadData($event)">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th pFrozenColumn [ngStyle]="{'width': responsiveWidth(actionColumnWidth), 'max-width': responsiveWidth(actionColumnWidth)}">{{l('Actions')}}</th>
                    <ng-container *ngFor="let col of columns">
                        <th *ngIf="col.sort"
                            pReorderableColumn
                            pResizableColumn
                            [pSortableColumn]="col.name"
                            [ngStyle]="{'width': responsiveWidth(col.width), 'max-width': responsiveWidth(col.width)}"
                            [id]="col.name">{{l(col.header)}} <p-sortIcon [field]="col.name"></p-sortIcon></th>
                        <th *ngIf="!col.sort"
                            pReorderableColumn
                            pResizableColumn
                            [ngStyle]="{'width': responsiveWidth(col.width), 'max-width': responsiveWidth(col.width)}"
                            [id]="col.name">{{l(col.header)}}</th>
                    </ng-container>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-index="rowIndex" let-columns="columns">
                <tr>
                    <td pFrozenColumn [ngStyle]="{'width': responsiveWidth(actionColumnWidth), 'max-width': responsiveWidth(actionColumnWidth)}">
                        <span class="p-column-title">{{l('Actions')}}</span>
                        <button pButton pRipple type="button" class="p-button-rounded p-button-text" icon="pi pi-cog" (click)="showInlineActions(row, $event);" *ngIf="inlineActionVisible"></button>
                    </td>
                    <ng-container *ngFor="let col of columns">
                        <td [ngStyle]="{'width': responsiveWidth(col.width), 'max-width': responsiveWidth(col.width)}">
                            <span class="p-column-title">{{l(col.header)}}</span>

                            <ng-container *ngIf="col.type===11">
                                <img class="attachment-box-list"
                                     [src]="row.fileUrl | safeResourceUrl"
                                     alt="l('Image')" />
                            </ng-container>
                            <ng-container *ngIf="col.type!==11">
                                <ng-container *ngIf="col.name!=='IsActive'">{{getObjValue(row, col.display ? col.display : col.name)}}</ng-container>
                                <ng-container *ngIf="col.name==='CreatorUserName'">
                                    <br />
                                    <p-tag styleClass="bg-primary-reverse text-color" [value]="row.creationTime|date:'yyyy-MM-dd HH:mm:ss'"></p-tag>
                                </ng-container>
                                <ng-container *ngIf="col.name==='LastModifierUserName' && row.lastModificationTime">
                                    <br />
                                    <p-tag styleClass="bg-primary-reverse text-color" [value]="row.lastModificationTime|date:'yyyy-MM-dd HH:mm:ss'"></p-tag>
                                </ng-container>
                                <p-tag *ngIf="col.name==='IsActive'" styleClass="px-3" [severity]="row.isActive ? 'success' : 'warning'" [value]="row.isActive ? this.l('Active') : this.l('Inactive')"></p-tag>
                            </ng-container>
                        </td>
                    </ng-container>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns.length + 1" class="empty-message">
                        <div recordNotFound [minHeight]="minHeight-70"></div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
