<div class="text-900 font-medium" *ngIf="label">
    {{label}}
    <span class="text-red-500" *ngIf="required">*</span>
</div>
<p-inputNumber class="w-full"
               styleClass="w-full"
               [inputStyleClass]="inputStyleClass"
               name="{{name}}"
               [inputId]="name"
               [placeholder]="placeholder"
               [required]="required"
               [useGrouping]="format"
               [(ngModel)]="model"
               (ngModelChange)="onChange($event)"
               (onBlur)="onTouched()"
               [disabled]="disabled"
               [minFractionDigits]="minDigits"
               [maxFractionDigits]="maxDigits"
               [ngClass]="{'ng-dirty': dirty, 'ng-invalid': invalid}" />
<small *ngIf="required && invalid && dirty && validateMessage" class="p-error block">{{ validateMessage }}</small>
