<div *ngIf="label" class="flex flex-wrap align-items-center gap-1 mb-2">
    {{label}}
    <span class="text-red-500" *ngIf="required">*</span>
</div>
<p-inputNumber class="w-full"
               styleClass="w-full"
               [inputStyleClass]="inputStyleClass"
               name="{{name}}"
               [inputId]="name"
               [placeholder]="placeholder"
               [required]="required"
               [useGrouping]="useGrouping"
               [format]="format"
               [(ngModel)]="model"
               (ngModelChange)="onChange($event)"
               (onBlur)="onTouched()"
               [disabled]="disabled"
               [minFractionDigits]="minDigits"
               [maxFractionDigits]="maxDigits"
               [min]="min"
               [max]="max"
               [maxlength]="maxlength"
               [ngClass]="{'ng-dirty': dirty, 'ng-invalid': invalid}" />
<small *ngIf="required && invalid && dirty && validateMessage" class="p-error block">{{ validateMessage }}</small>
