<form novalidate autocomplete="off" #createItemCodeFormulaForm="ngForm" (ngSubmit)="save()" [busy]="saving">
    <div class="formgrid grid p-3 m-0">
        <div class="field col-12 md:col-6">
            <label for="prefix" class="text-900 font-medium">{{l('ItemTypes')}}<span class="text-red-600">*</span></label>
            <div class="flex flex-wrap gap-3">
                <div class="flex align-items-center cursor-pointer">
                    <p-radioButton name="isAllItemType"
                                   [label]="l('All')"
                                   [value]="true"
                                   [(ngModel)]="model.isAllItemType"
                                   inputId="isAllItemType0" />
                </div>

                <div class="flex align-items-center cursor-pointer">
                    <p-radioButton name="isAllItemType"
                                   [label]="l('SpecificItemType')"
                                   [value]="false"
                                   [(ngModel)]="model.isAllItemType"
                                   inputId="isAllItemType1" />
                </div>
            </div>
        </div>

        <div class="field col-12 md:col-6"
             selectItemType
             name="itemType"
             [required]="true"
             [label]="l('ItemTypes')"
             [multiple]="true"
             [(ngModel)]="itemTypes"
             *ngIf="!model.isAllItemType">
        </div>
        <div class="field col-12 md:col-6">
            <label for="prefix" class="text-900 font-medium">{{l('Type')}}<span class="text-red-600">*</span></label>
            <div class="flex flex-wrap gap-3">
                <div class="flex align-items-center cursor-pointer">
                    <p-radioButton name="type"
                                   [label]="l('Manual')"
                                   value="0"
                                   [(ngModel)]="model.type"
                                   inputId="type0" />
                </div>

                <div class="flex align-items-center cursor-pointer">
                    <p-radioButton name="type"
                                   [label]="l('Custom')"
                                   value="1"
                                   [(ngModel)]="model.type"
                                   inputId="type1" />
                </div>
            </div>
        </div>

        <div class="field col-12 md:col-6"
             inputText
             name="prefix"
             [label]="l('Perfix')"
             [maxlength]="6"
             [(ngModel)]="model.prefix"
             *ngIf="model.type==1">
        </div>
        <div class="field col-12 md:col-6"
             inputNumber
             name="digits"
             [label]="l('Digits')"
             [min]="1"
             [max]="32"
             [maxlength]="2"
             [(ngModel)]="model.digits"
             [required]="true"
             *ngIf="model.type==1">
        </div>
        <div class="field col-12 md:col-6"
             inputNumber
             name="start"
             [label]="l('Start')"
             [maxlength]="4"
             [(ngModel)]="model.start"
             [required]="true"
             *ngIf="model.type==1">
        </div>
    </div>

    <div class="p-dialog-footer">
        <div class="flex justify-content-end flex-wrap">
            <button pButton pRipple
                    label="{{'SaveNew' | localize}}"
                    class=""
                    icon="pi pi-save"
                    type="button"
                    (click)="saveNew(createItemCodeFormulaForm)"
                    [disabled]="!createItemCodeFormulaForm.form.valid|| saving"></button>
            <button pButton pRipple
                    label="{{'Save' | localize}}"
                    class=""
                    icon="pi pi-save"
                    type="submit"
                    [disabled]="!createItemCodeFormulaForm.form.valid|| saving"></button>
        </div>
    </div>
</form>
