<div class="flex flex-column align-items-start gap-2">
    <div class="flex justify-content-center">
        <img #image
             [ngClass]="styleClass"
             [src]="fileUrl | safeResourceUrl"
             [alt]="alt" />
    </div>
    <div class="flex justify-content-center">
        <input type="file" name="file" [accept]="acceptType" class="hidden" #inputFile (change)="fileChange($event)" />

        <button pButton pRipple class="p-button-outlined py-0" icon="pi pi-folder-open" type="button" (click)="inputFile.click()" *ngIf="!inputFile.files.length">
            <span class="px-2">{{l("Choose_", label)}}</span>
        </button>

        <button pButton pRipple class="p-button-outlined py-0" icon="pi pi-times" type="button" (click)="clearUpload(inputFile)" *ngIf="inputFile.files.length">
            <span class="px-2">{{l("Cancel")}}</span>
        </button>
        <button pButton pRipple class="p-button-outlined py-0 ml-3" icon="pi pi-cloud-upload" type="button" (click)="uploadFile(inputFile)" [loading]="loading" *ngIf="inputFile.files.length">
            <span class="px-2">{{l("Upload")}}</span>
        </button>
    </div>
</div>
