<form novalidate autocomplete="off" #createUserModal="ngForm" (ngSubmit)="save()" [busy]="saving">

    <p-tabView styleClass="mt-3">
        <p-tabPanel header="{{l('UserInfo')}}" [selected]="true">
            <div class="p-3">
                <div class="field">
                    <label for="name" class="text-900 font-medium">{{l('Name')}}<span class="text-red-600">*</span></label>
                    <input type="text"
                           pInputText
                           class="w-full"
                           name="name"
                           [placeholder]="l('Name')"
                           id="name"
                           required
                           minlength="2"
                           maxlength="32"
                           [(ngModel)]="user.name"
                           #nameModel="ngModel"
                           #nameEl />
                    <abp-validation-summary [control]="nameModel"
                                            [controlEl]="nameEl"></abp-validation-summary>
                </div>
                <div class="field">
                    <label for="surname" class="text-900 font-medium">{{l('Surname')}}<span class="text-red-600">*</span></label>
                    <input type="text"
                           pInputText
                           class="w-full"
                           name="surname"
                           [placeholder]="l('Surname')"
                           id="surname"
                           required
                           minlength="2"
                           maxlength="32"
                           [(ngModel)]="user.surname"
                           #surnameModel="ngModel"
                           #surnameEl />
                    <abp-validation-summary [control]="surnameModel"
                                            [controlEl]="surnameEl"></abp-validation-summary>
                </div>
                <div class="field">
                    <label for="userName" class="text-900 font-medium">{{l('UserName')}}<span class="text-red-600">*</span></label>
                    <input type="text"
                           pInputText
                           class="w-full"
                           name="userName"
                           [placeholder]="l('UserName')"
                           id="userName"
                           required
                           minlength="2"
                           maxlength="32"
                           [(ngModel)]="user.userName"
                           #userNameModel="ngModel"
                           #userNameEl />
                    <abp-validation-summary [control]="userNameModel"
                                            [controlEl]="userNameEl"></abp-validation-summary>
                </div>
                <div class="field">
                    <label for="password" class="text-900 font-medium">{{l('Password')}}<span class="text-red-600">*</span></label>
                    <span class="p-input-icon-right w-full">
                        <i class="pi"
                           [ngClass]="showPassword? 'pi-eye-slash' : 'pi-eye'"
                           (click)="showPassword=!showPassword"></i>
                        <input [type]="showPassword?'text':'password'"
                               pInputText
                               class="w-full"
                               [ngClass]="{'ng-invalid': passwordModel.invalid && passwordModel.dirty}"
                               name="password"
                               [placeholder]="l('Password')"
                               id="password"
                               required
                               maxlength="32"
                               validateEqual="confirmPassword"
                               reverse="true"
                               pattern="{{passwordComplexitySetting.pattern}}"
                               [(ngModel)]="user.password"
                               #passwordModel="ngModel"
                               #passwordEl />
                    </span>
                    <abp-validation-summary [control]="passwordModel"
                                            [controlEl]="passwordEl"
                                            [customValidationErrors]="passwordValidationErrors"></abp-validation-summary>
                </div>

                <div class="field">
                    <label for="confirmPassword" class="text-900 font-medium">{{l('ConfirmPassword')}}<span class="text-red-600">*</span></label>
                    <span class="p-input-icon-right w-full">
                        <i class="pi"
                           [ngClass]="showConfirmPassword? 'pi-eye-slash' : 'pi-eye'"
                           (click)="showConfirmPassword=!showConfirmPassword"></i>
                        <input [type]="showConfirmPassword?'text':'password'"
                               pInputText
                               class="w-full"
                               [ngClass]="{'ng-invalid': confirmPasswordModel.invalid && confirmPasswordModel.dirty}"
                               name="confirmPassword"
                               [placeholder]="l('ConfirmPassword')"
                               id="confirmPassword"
                               required
                               maxlength="32"
                               validateEqual="password"
                               reverse="false"
                               ngModel
                               #confirmPasswordModel="ngModel"
                               #confirmPasswordEl />
                    </span>
                    <abp-validation-summary [control]="confirmPasswordModel"
                                            [controlEl]="confirmPasswordEl"
                                            [customValidationErrors]="confirmPasswordValidationErrors"></abp-validation-summary>
                </div>

                <div class="">
                    <div class="flex align-content-center gap-3">

                        <p-inputSwitch name="useEmail" [(ngModel)]="user.useEmail"></p-inputSwitch>
                        <span class="mb-3">{{l('UseEmail')}}</span>
                    </div>
                </div>

                <div class="field" *ngIf="user.useEmail">
                    <input type="email"
                           pInputText
                           class="w-full"
                           name="emailAddress"
                           [placeholder]="l('Email')"
                           id="emailAddress"
                           required
                           maxlength="256"
                           pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"
                           [(ngModel)]="user.emailAddress"
                           #emailAddressModel="ngModel"
                           #emailAddressEl />
                    <abp-validation-summary [control]="emailAddressModel"
                                            [controlEl]="emailAddressEl"></abp-validation-summary>
                </div>

                <div class="">
                    <div class="flex align-content-center gap-3">
                        <p-inputSwitch name="isActive" [(ngModel)]="user.isActive"></p-inputSwitch>
                        <span class="mb-3">{{l('IsActive')}}</span>
                    </div>
                </div>

            </div>
        </p-tabPanel>
        <p-tabPanel header="{{l('UserRoles')}}">
            <div class="grid grid-nogutter p-3">
                <ng-container *ngFor="let role of roles; let i = index">
                    <div class="col-4">
                        <div class="field-checkbox mb-3">
                            <p-checkbox name="userRoles" [value]="role.normalizedName" [label]="role.name" [(ngModel)]="user.roleNames" [inputId]="'role_' + i"></p-checkbox>
                        </div>
                    </div>
                </ng-container>
            </div>
        </p-tabPanel>
    </p-tabView>
    <div class="p-dialog-footer">
        <div class="flex justify-content-end flex-wrap">
            <button pButton pRipple
                    label="{{'Save' | localize}}"
                    class=""
                    icon="pi pi-save"
                    type="submit"
                    [disabled]="!createUserModal.form.valid || saving"></button>
        </div>
    </div>
</form>
