<div [@routerTransition]>
    <div class="card">
        <div class="flex align-items-center"
             navBar
             [hideSetting]="true"
             [navs]="navBarItems">
        </div>
        <p-divider></p-divider>

        <p-stepper orientation="vertical" [(activeStep)]="activeStep">
            <p-stepperPanel header="{{l('GeneralSetting')}}">
                <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                    <div class="pt-3">
                        <div class="flex flex-column align-items-start gap-2">
                            <div class="flex justify-content-center">
                                <img #image
                                     class="company-logo"
                                     [src]="logoImageUrl | safeResourceUrl"
                                     alt="Logo Image" />
                            </div>
                            <div class="flex justify-content-center">
                                <input type="file" name="file" accept="image/*" class="hidden" #inputFile (change)="fileChange($event)" />

                                <button pButton pRipple class="p-button-outlined py-0" icon="pi pi-folder-open" type="button" (click)="inputFile.click()" *ngIf="!inputFile.files.length">
                                    <span class="px-2">{{l("Choose_", l("Logo"))}}</span>
                                </button>

                                <button pButton pRipple class="p-button-outlined py-0" icon="pi pi-times" type="button" (click)="clearUpload(inputFile)" *ngIf="inputFile.files.length">
                                    <span class="px-2">{{l("Cancel")}}</span>
                                </button>
                                <button pButton pRipple class="p-button-outlined py-0 ml-3" icon="pi pi-cloud-upload" type="button" (click)="uploadLogo(inputFile)" *ngIf="inputFile.files.length">
                                    <span class="px-2">{{l("Upload")}}</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <p-divider></p-divider>

                    <form novalidate autocomplete="off" #genaralSettingForm="ngForm" (ngSubmit)="saveGeneralSetting()" [busy]="saving">

                        <div class="formgrid grid m-0">
                            <div class="field col-12 md:col-6"
                                 findCountry
                                 name="selectRegionCountry"
                                 [required]="true"
                                 [label]="l('RegionCountry')"
                                 [(ngModel)]="regionCountry"
                                 (ngModelChange)="onRegionCountryChange($event)"
                                 [invalid]="genaralSettingForm.invalid && genaralSettingForm.touched && genaralSettingForm.controls.selectRegionCountry.errors?.required">
                            </div>
                            <div class="field col-12 md:col-6"
                                 findCurrency
                                 name="currency"
                                 [required]="true"
                                 [label]="l('Currency')"
                                 [(ngModel)]="currency"
                                 (ngModelChange)="generalSetting.currencyId = $event?.id"
                                 [invalid]="genaralSettingForm.invalid && genaralSettingForm.touched && genaralSettingForm.controls.currency.errors?.required">
                            </div>
                            <div class="field col-12 md:col-6"
                                 selectTimezone
                                 name="selectTimezone"
                                 [initModel]="false"
                                 [required]="true"
                                 [label]="l('Timezone')"
                                 [(ngModel)]="generalSetting.defaultTimeZone"
                                 [invalid]="genaralSettingForm.invalid && genaralSettingForm.touched && genaralSettingForm.controls.selectTimezone.errors?.required"
                                 #timezone>
                            </div>
                            <div class="field col-12 md:col-6"
                                 selectDate
                                 name="businessStartDate"
                                 inputId="businessStartDate"
                                 [(ngModel)]="businessStartDate"
                                 [placeholder]="l('BusinessStartDate')"
                                 [label]="l('BusinessStartDate')"
                                 [required]="true"
                                 [disabled]="false"
                                 [invalid]="genaralSettingForm.invalid && genaralSettingForm.touched && genaralSettingForm.controls.businessStartDate.errors?.required">
                            </div>

                            <div class="field col-12 md:col-6">
                                <label>{{l('Rounding_',l('Total'))}} <span class="text-red-500">*</span></label>
                                <p-dropdown name="roundTotalDigits"
                                            [options]="[1,2,3,4,5,6]"
                                            [(ngModel)]="generalSetting.roundTotalDigits"
                                            [placeholder]="l('Select_', l('Rounding'))"
                                            styleClass="w-full"
                                            required
                                            #roundTotalDigits="ngModel" />
                                <small *ngIf="roundTotalDigits.invalid && (roundTotalDigits.dirty || roundTotalDigits.touched)"
                                       class="p-error block">{{l('IsRequired', l('Rounding_', l('Total')))}}</small>
                            </div>
                            <div class="field col-12 md:col-6">
                                <label>{{l('Rounding_',l('Cost'))}} <span class="text-red-500">*</span></label>
                                <p-dropdown name="roundCostDigits"
                                            [options]="[1,2,3,4,5,6]"
                                            [(ngModel)]="generalSetting.roundCostDigits"
                                            [placeholder]="l('Select_', l('Rounding'))"
                                            styleClass="w-full"
                                            required
                                            #roundCostDigits="ngModel" />
                                <small *ngIf="roundCostDigits.invalid && (roundCostDigits.dirty || roundCostDigits.touched)"
                                       class="p-error block">{{l('IsRequired', l('Rounding_', l('Cost')))}}</small>
                            </div>
                            <div class="field col-12 md:col-6">
                                <label>{{l('ContactAddressLevel')}}</label>
                                <p-dropdown [options]="addressLevels"
                                            [(ngModel)]="generalSetting.contactAddressLevel"
                                            [placeholder]="l('Select_',l('ContactAddressLevel'))"
                                            name="addressLevel"
                                            required
                                            optionValue="id"
                                            optionLabel="name"
                                            styleClass="w-full" />
                            </div>
                        </div>

                        <div class="flex justify-content-end gap-2 py-4">
                            <p-button [label]="l('Next')" (onClick)="nextCallback.emit()" [outlined]="true" />
                            <p-button [label]="l('SaveNext')" (onClick)="saveGeneralSetting(nextCallback)" [loading]="saving" [disabled]="genaralSettingForm.form.invalid || saving" />
                            <p-button [label]="l('Save')" (onClick)="saveGeneralSetting()" [loading]="saving" [disabled]="genaralSettingForm.form.invalid || saving" />
                        </div>
                    </form>

                    <p-divider></p-divider>

                </ng-template>
            </p-stepperPanel>

            <p-stepperPanel header="{{l('AdvanceSetting')}}">
                <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                    <div class="pt-3">
                        <div class="formgrid grid m-0">
                            <div class="field col-12 md:col-6">
                                <div class="flex align-content-center gap-3">
                                    <p-inputSwitch name="multiBranchesEnable" [(ngModel)]="advanceSetting.multiBranchesEnable"></p-inputSwitch>
                                    <span class="mb-3">{{l('MultiBranchesEnable')}}</span>
                                </div>
                            </div>
                            <div class="field col-12 md:col-6">
                                <div class="flex align-content-center gap-3">
                                    <p-inputSwitch name="multiCurrencyEnable" [(ngModel)]="advanceSetting.multiCurrencyEnable"></p-inputSwitch>
                                    <span class="mb-3">{{l('MultiCurrencyEnable')}}</span>
                                </div>
                            </div>
                            <div class="field col-12 md:col-6">
                                <div class="flex align-content-center gap-3">
                                    <p-inputSwitch name="lineDiscountEnable" [(ngModel)]="advanceSetting.lineDiscountEnable"></p-inputSwitch>
                                    <span class="mb-3">{{l('LineDiscountEnable')}}</span>
                                </div>
                            </div>
                            <div class="field col-12 md:col-6">
                                <div class="flex align-content-center gap-3">
                                    <p-inputSwitch name="totalDiscountEnable" [(ngModel)]="advanceSetting.totalDiscountEnable"></p-inputSwitch>
                                    <span class="mb-3">{{l('TotalDiscountEnable')}}</span>
                                </div>
                            </div>
                            <div class="field col-12 md:col-6">
                                <div class="flex align-content-center gap-3">
                                    <p-inputSwitch name="classEnable" [(ngModel)]="advanceSetting.classEnable"></p-inputSwitch>
                                    <span class="mb-3">{{l('ClassEnable')}}</span>
                                </div>
                            </div>

                        </div>
                       
                        <div class="flex justify-content-end gap-2 py-4">
                            <p-button [label]="l('Previous')" (onClick)="prevCallback.emit()" [outlined]="true" />
                            <p-button [label]="l('Next')" (onClick)="nextCallback.emit()" [outlined]="true" />
                            <p-button [label]="l('SaveNext')" (onClick)="saveAdvanceSetting(nextCallback)" [loading]="saving"  />
                            <p-button [label]="l('Save')" (onClick)="saveAdvanceSetting()" [loading]="saving" />
                        </div>

                    </div>

                    <p-divider></p-divider>

                </ng-template>
            </p-stepperPanel>

            <p-stepperPanel header="{{l('CompanyProfile')}}">
                <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                    <form novalidate autocomplete="off" #companyProfileForm="ngForm" (ngSubmit)="saveProfile()" [busy]="saving">
                        <div class="pt-3">
                            <div class="formgrid grid m-0">
                                <div class="field col-12 md:col-6">
                                    <label for="name" class="text-900 font-medium">{{l('Name')}}<span class="text-red-600">*</span></label>
                                    <input type="text"
                                           pInputText
                                           class="w-full"
                                           name="name"
                                           id="name"
                                           maxlength="128"
                                           required
                                           [(ngModel)]="branch.name"
                                           #nameModel="ngModel"
                                           #nameEl />
                                    <abp-validation-summary [control]="nameModel"
                                                            [controlEl]="nameEl"></abp-validation-summary>
                                </div>
                                <div class="field col-12 md:col-6">
                                    <label for="displayName" class="text-900 font-medium">{{l('DisplayName')}}<span class="text-red-600">*</span></label>
                                    <input type="text"
                                           pInputText
                                           class="w-full"
                                           name="displayName"
                                           id="displayName"
                                           minlength="2"
                                           maxlength="64"
                                           required
                                           [(ngModel)]="branch.displayName"
                                           #displayNameModel="ngModel"
                                           #displayNameEl />
                                    <abp-validation-summary [control]="displayNameModel"
                                                            [controlEl]="displayNameEl"></abp-validation-summary>
                                </div>
                                <div class="field col-12 md:col-6">
                                    <label class="text-900 font-medium">{{l('BusinessId')}}</label>
                                    <input type="text"
                                           pInputText
                                           class="w-full"
                                           name="businessId"
                                           id="businessId"
                                           minlength="2"
                                           maxlength="32"
                                           [(ngModel)]="branch.businessId"
                                           #businessIdModel="ngModel"
                                           #businessIdEl />
                                    <abp-validation-summary [control]="businessIdModel"
                                                            [controlEl]="businessIdEl"></abp-validation-summary>
                                </div>

                                <div class="field col-12 md:col-6">
                                    <label class="text-900 font-medium">{{l('PhoneNumber')}}</label>
                                    <input type="text"
                                           pInputText
                                           class="w-full"
                                           name="phoneNumber"
                                           id="phoneNumber"
                                           minlength="9"
                                           maxlength="12"
                                           [(ngModel)]="branch.phoneNumber"
                                           #phoneNumberModel="ngModel"
                                           #phoneNumberEl />
                                    <abp-validation-summary [control]="phoneNumberModel"
                                                            [controlEl]="phoneNumberEl"></abp-validation-summary>
                                </div>

                                <div class="field col-12 md:col-6">
                                    <label class="text-900 font-medium">{{l('Email')}}</label>
                                    <input type="text"
                                           pInputText
                                           class="w-full"
                                           name="email"
                                           id="email"
                                           minlength="5"
                                           maxlength="32"
                                           [(ngModel)]="branch.email"
                                           #emailModel="ngModel"
                                           #emailEl />
                                    <abp-validation-summary [control]="emailModel"
                                                            [controlEl]="emailEl"></abp-validation-summary>
                                </div>

                                <div class="field col-12 md:col-6">
                                    <label class="text-900 font-medium">{{l('Website')}}</label>
                                    <input type="text"
                                           pInputText
                                           class="w-full"
                                           name="website"
                                           id="website"
                                           minlength="5"
                                           maxlength="32"
                                           [(ngModel)]="branch.website"
                                           #websiteModel="ngModel"
                                           #websiteEl />
                                    <abp-validation-summary [control]="websiteModel"
                                                            [controlEl]="websiteEl"></abp-validation-summary>
                                </div>

                                <div class="field col-12 md:col-6">
                                    <label class="text-900 font-medium">{{l('TaxRegistrationNumber')}}</label>
                                    <input type="text"
                                           pInputText
                                           class="w-full"
                                           name="taxRegistrationNumber"
                                           id="taxRegistrationNumber"
                                           minlength="2"
                                           maxlength="32"
                                           [(ngModel)]="branch.taxRegistrationNumber"
                                           #taxRegistrationNumberModel="ngModel"
                                           #taxRegistrationNumberEl />
                                    <abp-validation-summary [control]="taxRegistrationNumberModel"
                                                            [controlEl]="taxRegistrationNumberEl"></abp-validation-summary>
                                </div>

                            </div>

                            <div class="formgrid grid m-0"
                                 name="billingAddress"
                                 contactAddress
                                 [(ngModel)]="branch.billingAddress"
                                 [requiredPostalCode]="true"
                                 [requiredStreet]="true"
                                 [requiredHouseNo]="true"
                                 [required]="true"
                                 [invalid]="companyProfileForm.invalid && companyProfileForm.touched && companyProfileForm.controls.billingAddress.errors?.invalid">
                            </div>
                            <div class="formgrid grid m-0"
                                 contactAddress
                                 name="shippingAddress"
                                 [isShippingAddress]="true"
                                 [(sameAsBillingAddress)]="branch.sameAsBillingAddress"
                                 [(ngModel)]="branch.shippingAddress"
                                 [requiredPostalCode]="true"
                                 [requiredStreet]="true"
                                 [requiredHouseNo]="true"
                                 [required]="true"
                                 [invalid]="companyProfileForm.invalid && companyProfileForm.touched && companyProfileForm.controls.shippingAddress.errors?.invalid">
                            </div>

                            <div class="flex justify-content-end gap-2 py-4">
                                <p-button [label]="l('Previous')" (onClick)="prevCallback.emit()" [outlined]="true" />
                                <p-button [label]="l('Next')" (onClick)="nextCallback.emit()" [outlined]="true" />
                                <p-button [label]="l('SaveNext')" (onClick)="saveProfile(nextCallback)" [loading]="saving" [disabled]="companyProfileForm.form.invalid || saving" />
                                <p-button [label]="l('Save')" (onClick)="saveProfile()" [loading]="saving" [disabled]="companyProfileForm.form.invalid || saving" />
                            </div>

                        </div>
                    </form>

                    <p-divider></p-divider>

                </ng-template>

            </p-stepperPanel>

            <p-stepperPanel header="{{l('AccountSetting')}}">
                <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                    <div class="pt-3">
                        <div class="formgrid grid m-0">


                        </div>
                        <div class="flex justify-content-end gap-2 py-4">
                            <p-button [label]="l('Previous')" (onClick)="prevCallback.emit()" [outlined]="true" />
                            <p-button [label]="l('Next')" (onClick)="nextCallback.emit()" [outlined]="true" />
                            <p-button [label]="l('SaveNext')" (onClick)="saveAccountSetting(nextCallback)" [loading]="saving" />
                            <p-button [label]="l('Save')" (onClick)="saveAccountSetting()" [loading]="saving" />
                        </div>
                    </div>

                    <p-divider></p-divider>

                </ng-template>
            </p-stepperPanel>

            <p-stepperPanel header="{{l('TransactionNo')}}">
                <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
                    <div class="pt-3">
                        <div class="mb-3">
                            <p-message severity="info" [text]="prefixMessage" styleClass="w-full justify-content-start"></p-message>
                        </div>
                        <div class="flex flex-column md:flex-row md:align-items-center gap-3">
                            <label class="w-full md:w-2 hidden md:block font-medium text-900">{{l("Name_",l("TransactionType"))}}</label>
                            <label class="w-full md:w-1 hidden md:block text-900 font-medium">{{l('Prefix')}}</label>
                            <label class="w-full md:w-1 hidden md:block text-900 font-medium">{{l('Digits')}}</label>
                            <label class="w-full md:w-1 hidden md:block text-900 font-medium">{{l('Start')}}</label>
                            <label class="w-full md:w-2 hidden md:block text-900 font-medium">{{l('Format')}}</label>
                            <div class="flex align-items-center gap-3">
                                <p-inputSwitch name="customTransactionNoEnable"
                                               class="flex align-items-center"
                                               [(ngModel)]="customTransactionNoEnable"
                                               (onChange)="customTransactionNoEnableChange($event)"></p-inputSwitch>
                                <span>{{l('CustomNo')}}</span>
                            </div>
                            <div class="flex align-items-center gap-3">
                                <p-inputSwitch name="requiredReference"
                                               class="flex align-items-center"
                                               [(ngModel)]="requiredReference"
                                               (onChange)="requiredReferenceChange($event)"></p-inputSwitch>
                                <span>{{l('RequiredReference')}}</span>
                            </div>
                        </div>

                        <p-divider></p-divider>

                        <ng-container *ngFor="let t of transactionNos; let i=index;">

                            <div class="flex flex-column md:flex-row md:align-items-center gap-3">
                                <span class="w-full md:w-2 font-medium text-900">{{l(t.journalTypeName)}}</span>

                                <div class="w-full md:w-1 md:block field m-0" [ngClass]="{'hidden': t.customTransactionNoEnable}">
                                    <div class="p-inputtext" disabled *ngIf="t.customTransactionNoEnable"></div>
                                    <ng-container *ngIf="!t.customTransactionNoEnable">
                                        <input type="text"
                                               pInputText
                                               class="w-full"
                                               name="prefex_{{i}}"
                                               id="prefix_{{i}}"
                                               maxlength="8"
                                               [placeholder]="l('Prefix')"
                                               [(ngModel)]="t.prefix"
                                               [pTooltip]="prefixMessage"
                                               #prefixModel="ngModel"
                                               #prefixEl />

                                        <abp-validation-summary [control]="prefixModel"
                                                                [controlEl]="prefixEl"></abp-validation-summary>
                                    </ng-container>
                                </div>

                                <div class="w-full md:w-1 md:block field m-0" [ngClass]="{'hidden': t.customTransactionNoEnable}">
                                    <div class="p-inputtext" disabled *ngIf="t.customTransactionNoEnable"></div>
                                    <ng-container *ngIf="!t.customTransactionNoEnable">
                                        <input type="text"
                                               pInputText
                                               class="w-full"
                                               name="digits_{{i}}"
                                               id="digits_{{i}}"
                                               minlength="1"
                                               maxlength="2"
                                               [placeholder]="l('Digits')"
                                               [(ngModel)]="t.digits"
                                               [disabled]="t.customTransactionNoEnable"
                                               #digitsModel="ngModel"
                                               #digitsEl />
                                        <abp-validation-summary [control]="digitsModel"
                                                                [controlEl]="digitsEl"></abp-validation-summary>
                                    </ng-container>
                                </div>

                                <div class="w-full md:w-1 md:block field m-0" [ngClass]="{'hidden': t.customTransactionNoEnable}">
                                    <div class="p-inputtext" disabled *ngIf="t.customTransactionNoEnable"></div>
                                    <ng-container *ngIf="!t.customTransactionNoEnable">
                                        <input type="text"
                                               pInputText
                                               class="w-full"
                                               name="start_{{i}}"
                                               id="start_{{i}}"
                                               minlength="1"
                                               maxlength="3"
                                               [placeholder]="l('Start')"
                                               [(ngModel)]="t.start"
                                               [disabled]="t.customTransactionNoEnable"
                                               #startModel="ngModel"
                                               #startEl />
                                        <abp-validation-summary [control]="startModel"
                                                                [controlEl]="startEl"></abp-validation-summary>
                                    </ng-container>
                                </div>

                                <div class="w-full md:w-2 md:block field m-0" [ngClass]="{'hidden': t.customTransactionNoEnable}">
                                    <div class="p-inputtext" disabled>{{getTransactionNoFormat(t)}}</div>
                                </div>

                                <div class="flex align-items-center gap-3">
                                    <p-inputSwitch name="customTransactionNoEnable"
                                                   class="flex align-items-center"
                                                   [(ngModel)]="t.customTransactionNoEnable"></p-inputSwitch>
                                    <span>{{l('CustomNo')}}</span>
                                </div>

                                <div class="flex align-items-center gap-3">
                                    <p-inputSwitch name="requiredReference"
                                                   class="flex align-items-center"
                                                   [(ngModel)]="t.requiredReference"></p-inputSwitch>
                                    <span>{{l('RequiredReference')}}</span>
                                </div>
                            </div>

                            <p-divider></p-divider>
                        </ng-container>

                        <div class="flex justify-content-end gap-2 py-4">
                            <p-button [label]="l('Previous')" (onClick)="prevCallback.emit()" [outlined]="true" />
                            <p-button [label]="l('Save')" (onClick)="saveTransactionNos()" [loading]="saving" />
                        </div>
                    </div>

                </ng-template>
            </p-stepperPanel>

        </p-stepper>
    </div>
</div>
